.numpad-btn-container {
  margin-top: 0 !important;
}

.numpad-btn {
  border-radius: 0.3rem !important;
  /* padding: 30px; */
  padding: 2rem 3.5rem 2rem 3.5rem;
  font-size: 2rem;
  background-color: gainsboro;
  color: var(--primaryHEX);
}

.numpad-btn:hover {
  box-shadow: 0px 8px 16px 0px var(--primaryHEX);
  background-color: gainsboro;
  color: var(--primaryHEX);
  font-weight: bolder;
}

.numpad-btn:active {
  box-shadow: 0px 8px 16px 0px var(--primaryHEX);
  background-color: gainsboro;
  color: var(--primaryHEX) !important;
  font-weight: bolder;
}
